 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">

                    <p>Asheville Printmakers is an independent alliance of artists who express themselves through the medium of the print.</p>
                    
                    <p>Our membership encompasses both experienced and emerging artists, as well as those new to printmaking. We define “the print” broadly to encompass a wide range of processes and content, from traditional to experimental, and classic to contemporary.</p>

                    <p>Members’ printing methods vary from relief printing such as woodblock, linocut, and wood engraving, to intaglio methods such as drypoint, etching, collagraph, and photogravure. Some use alternative photographic printing processes such as platinum-palladium and gum biochromate; others employ monotype and variable editions in their work. A common thread is a hands-on involvement in making prints.</p>

                    

                </div>
                <div class="col-lg-4">
                    
                    <p>Members of Asheville Printmakers are self-identified.  An interest in printmaking and the motivation to create with artistic intent, and payment of annual dues of $10.00, are the criteria for membership. Meetings of Asheville Printmakers are open to interested artists.</p>

                    <p>We meet monthly on the fourth Tuesday of each month at 6:00 p.m. Currently, our meetings are held in the community room of Covenant Reformed Presbyterian Church, 280 Edgewood Rd., Asheville 28804.</p>

                    <p>Members of the Asheville Printmakers are self-selected. Criteria for inclusion are an interest and motivation in printmaking with artistic intent. It is an open group and interested artists are invited to attend these meetings.</p>

                    <p>Our meetings include various activities, including sharing recent work, critique, exhibit planning, and printmaking demonstrations. Our gatherings and discussions inspire and energize us to create on a regular basis.</p>
                </div>
                
            </div>
        </div>
    </section>