 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Asheville Printmakers are an informal group of artists who make prints. The definition of print is deliberately loose: our member's printing methods vary from relief printing such as woodblock and linocut to intaglio methods such as drypoint, etching and photogravure. Some of our members even use alternative photographic printing processes such as platinum-palladium and gum bichromate.</p>
                </div>
                <div class="col-lg-4">
                    <p>We meet on the third Tuesday of every month at the West Asheville library to show recent work, give and receive critiques, discuss techniques and plan shows. Vistors, drop-ins, dropouts and the inquisitive are invited to these meetings</p>
                    <p>The monthly meetings have the salutory effect of encouraging our members to engage in their artistic efforts on a regular basis. And there is nothing that stokes the creative juices like seeing good work done by others.</p>
                </div>
                
            </div>
        </div>
    </section>