 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Asheville Printmakers are an informal group of artists whose membership includes those new to printmaking as well as seasoned, experienced artists. The definition of print is deliberately loose to include a range of innovative printmaking processes from traditional to contemporary approaches.</p>

                    <p>Members’ printing methods vary from relief printing such as woodblock, linocut, and wood engraving to intaglio methods such as drypoint, etching, collograph and photogravure. Some members use alternative photographic printing processes such as platinum-palladium and gum bichromate. Others make use of monotype and variable editions in their work. One of the common threads in everyone's work is a hands-on involvement with the process of making a print.</p>

                    

                </div>
                <div class="col-lg-4">
                    <p>Currently, the Asheville Printmakers meet on the fourth Tuesday of every month at the West Asheville library for sharing recent work, critique, planning exhibits and printmaking demonstrations. Monthly meetings and progressive discussions encourage us to engage in our artistic endeavors on a regular basis.</p>

                    <p>Members of the Asheville Printmakers are self-selected. Criteria for inclusion are an interest and motivation in printmaking with artistic intent. It is an open group and interested artists are invited to attend these meetings.</p>
                </div>
                
            </div>
        </div>
    </section>