    <!-- Blackbird II Show Grid -->
    <section id="mcac-show">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><em>Unframed II</em></h2> 
                    <br><h3 >Asheville Printmakers Group Show</h3>                   
                    <hr class="star-primary">
                    <p><em>Opening: November 11, 2016 6:30 PM</em></p>
                    <p>through Dec 31, 2016</p>
                    <p><a href="http://blackbirdframe.com/" target="_blank"><span>Blackbird Frame & Art</span></a></p>
                    <p>365 Merrimon Avenue, Asheville, NC 28801</p>
                    <p><a target="_blank" href="https://goo.gl/maps/G3UMh7Drt8G2"><em>Directions</em></a></p>
                    
                    <figure>
                        <img src="img/Nancy_Darrell_bb.jpg" alt="Cranes">
                        <figcaption><h5><em>Cranes</em> - Nancy Darrell 2016</h5></figcaption>
                    </figure>
                    
                    <br>
                    <hr class="star-primary">
                </div>
            </div>             
        </div>
    </section>