<!-- Meeting Section -->
    <section class="success" id="next-meeting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Next Meeting</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-12 text-center" >

                    <h4>August 23, 2016 at 6:00OM</h4>
                    <h4>at Covenant Reformed Presbyterian Church</h4>
                    <h4>280 Edgewood Rd, Asheville 28804</h4>
                    <h4>UNCA exhibition discussion and more!</h4>
                    <!-- <h3>942 Haywood Rd, Asheville, NC 28806</h3>
                    <a target="_blank" class = "btn" href="https://www.google.com/maps/place/West+Asheville+Library/@35.5808144,-82.6017065,15z/data=!4m2!3m1!1s0x0:0xdbde11c33d2615d3">directions</a> -->
                    <a target="_blank" class = "btn" href="https://goo.gl/maps/vmT9ZvuzvCK2">directions</a>
                </div>
                
            </div>
        </div>
    </section>