
    <!-- Blackbird Show Grid -->
    <section id="mcac-show">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><em>On the Other Hand...</em></h2>                   
                    <hr class="star-primary">
                    <p><em>Opening Reception: Sept 30, 2016 6 PM</em></p>
                    <p>Sept 26 through Oct 14, 2016</p>
                    <p>UNCA Owen Hall Gallery 2nd Floor</p>
                    <p>215 Owen Hall</p>
                    <p>Asheville, NC 28804</p>
                    <p><a target="_blank" href="https://goo.gl/maps/nY9Mm7iBGys"><em>Directions</em></a></p>
                    
                    <h3>Show description</h3>
                    <p class="left">Most art is the realization of single artist’s vision, technique and experiences. However, many of the prints in this show have been created layer by layer by multiple artists in our group. Each artist submitted a print that was then randomly assigned to another artist in our group for additional work. At subsequent meetings, the prints are returned and continue to be randomly passed around for more work until the group comes to the consensus that they are 'fully cooked'.</p>
                    <p class="left">These prints began as a creative exercise. Freed from inertia of a particular subject, style or technique, our group found that this process encouraged a playful what-the-hell attitude that allowed us to play outside of our normal sandboxes. The collaborative prints in this show are the result of that process.</p>
                    <p class="left">The single-artist work displayed in this exhibit presents an interesting contrast to the collaborative prints. These individual works are beautiful examples of the use of printmaking techniques in the service of a focused artistic vision.</p>

                    <h3>Collaborative Print Example</h3>
                    <figure>
                        <img src="img/redbird.jpg" alt="Swarm">
                        <figcaption><h4><em>red bird</em></h4>
                        <p>First state: Dave Ladendorf - ink masked with printer's tape</p>
                        <p>Second state: Barbara Hearn - Monoprint border with Bohemian Gothic stonework pattern</p>
                        <p>Third state: Bobbi Allen - woodcut, cut-out and collage</p>
                        <p>Fourth state: Laura Ladendorf - monoprint with red acrylic and linocut with black ink (bird)</p>
                        </figcaption>
                    </figure>
                    <br>
                    <hr class="star-primary">
                </div>
            </div>             
        </div>
    </section>